<!DOCTYPE html>
<html>
<head>
  <title>Splurty</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header> 
		<div class="col-xs-3">
			<div class="circle">
			<br/>
			Everything
			<br/>
			you wanted
			<br/>
			to know
		</div>
		</div>
		<div class="col-xs-4 slogan">
			Unsolicited advice about life since 2015!
		</div>
		<div class="col-xs-5 links">
			<%= link_to 'Contribute', '#' %>
			<%= link_to 'About', '#' %>
		</div>
	</header>
	<hr />

	<br class="clear" />

<div class="container">
<%= yield %>
</div>
<div class="footer">
<div class="container">
	
	<div class="col-xs-6">
		<%= link_to "Wait! I want to see more..." , "#", :class => 'next-quote' %>
	</div>
	
	<div class="col-xs-6 footer-blurb">Proudly hacked in Chico, CA<br/>by <a href="http://sandraharrasser.com" target="_blank">Sandra Harrasser</a>
	</div>


</body>
</html>
